{% extends "base.html" %}

{% block title %}View Location - Inventory Management{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0"><i class="bi bi-geo-alt"></i> Location Details</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Location ID:</dt>
                    <dd class="col-sm-9"><strong>{{ location.location_id }}</strong></dd>
                    
                    <dt class="col-sm-3">Location Name:</dt>
                    <dd class="col-sm-9">{{ location.location_name }}</dd>
                </dl>
                
                <hr>
                
                <div class="d-flex justify-content-between">
                    <a href="{{ url_for('locations') }}" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Back to List
                    </a>
                    <div>
                        <a href="{{ url_for('edit_location', location_id=location.location_id) }}" 
                           class="btn btn-warning">
                            <i class="bi bi-pencil"></i> Edit
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
